GOOGLE_CLIENT_ID=<ENTER GOOGLE CLIENT ID>
GOOGLE_CLIENT_SECRET=<ENTER GOOGLE CLIENT SECRET>
MICROSOFT_TENANT_ID=<ENTER MICROSOFT TENANT ID>
MICROSOFT_CLIENT_ID=<ENTER MICROSOFT CLIENT ID>
MICROSOFT_CLIENT_SECRET=<ENTER MICROSOFT CLIENT SECRET>
