SPRING_DATASOURCE_URL=<ENTER SPRING DATASOURCE URL>
SPRING_DATASOURCE_USERNAME=<ENTER SPRING DATASOURCE USERNAME>
SPRING_DATASOURCE_PASSWORD=<ENTER SPRING DATASOURCE PASSWORD>
GOOGLE_CLIENT_ID=<ENTER GOOGLE CLIENT ID>
GOOGLE_CLIENT_SECRET=<ENTER GOOGLE CLIENT SECRET>
